/* Header atop the Home page content */
.app_header {
    background-image: linear-gradient(315deg, #a4dcff 0%, #c2f0ff 74%);
    width: 100%;
    min-width: 0;
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,0.2);
    border-radius: 2.5rem 2.5rem 0 0;
    border-bottom: 0.125rem dashed #ffffff;
    padding: 0.5rem;
    display: flex;
    position: relative;
    align-items: center;
    gap: 9rem;
    height: 4.5rem;
    z-index: 1000;
    overflow: hidden;
}

/* AdoptMePls! logo on top left */
.app_logo {
    position: relative;
    font-family: 'Gorditas', serif;
    font-size: clamp(1.125rem, 2vw, 2.8125rem);
    border-style: solid;
    padding: 0.125rem 0.5625rem 0.25rem 0.5625rem;
    border-radius: 2.5rem 2.5rem 2.5rem 0;
    background-color: white;
    color: #a4dcff;
    border-color: rgba(0, 0, 0, 0);
}

/* Textual phrase next to the logo */
.app_slogan {
    color: black;
    margin: 0;
    font-size: clamp(0.75rem, 2vw, 1.375rem);
    font-family: "Delius", cursive;
    text-align: center;
    margin-right: 0.75rem;
}